$dark: #054229;
$medium: #177165;
$warning: #efa920;
$few: #e83f1d;
$bright: #3affc7;
$black: #4a4a4a;
$white: #ffffff;

$tr: all 0.3s ease-in-out;

$font: "Roboto", sans-serif;

$mobile: 767px;
$tablet: 1023px;

$header: 60px;
$footer: 100px;

.route {
	&-enter-from,
	&-leave-to {
		opacity: 0;
	}

	&-enter-active {
		transition: all 0.2s ease-out;
	}

	&-leave-active {
		transition: all 0.2s ease-in;
	}

	&-enter-to,
	&-leave-from {
		opacity: 1;
	}
}
